@font-face {
    font-family:'Pulmuone';
    font-style:normal;
    src:local('Pulmuone'), local('Pulmuone'), url(./font/Pulmuone.eot);
    src:url(./font/Pulmuone.eot?#iefix) format('embedded-opentype'),
    url(./font/Pulmuone.woff2) format('woff2'),
    url(./font/Pulmuone.woff) format('woff');
}
@font-face {
    font-family:'PulmuoneLOHAS';
    font-style:normal;
    font-weight:300;
    src:local('PulmuoneLOHASLight'), local('PulmuoneLOHASLight'), url(./font/PulmuoneLOHASLight.eot);
    src:url(./font/PulmuoneLOHASLight.eot?#iefix) format('embedded-opentype'),
    url(./font/PulmuoneLOHASLight.woff2) format('woff2'),
    url(./font/PulmuoneLOHASLight.woff) format('woff');
}
@font-face {
    font-family:'PulmuoneLOHAS';
    font-style:normal;
    font-weight:500;
    src:local('PulmuoneLOHASMedium'), local('PulmuoneLOHASMedium'), url(./font/PulmuoneLOHASMedium.eot);
    src:url(./font/PulmuoneLOHASMedium.eot?#iefix) format('embedded-opentype'),
    url(./font/PulmuoneLOHASMedium.woff2) format('woff2'),
    url(./font/PulmuoneLOHASMedium.woff) format('woff');
}
@font-face {
    font-family:'PulmuoneLOHAS';
    font-style:normal;
    font-weight:700;
    src:local('PulmuoneLOHASBold'), local('PulmuoneLOHASBold'), url(./font/PulmuoneLOHASBold.eot);
    src:url(./font/PulmuoneLOHASBold.eot?#iefix) format('embedded-opentype'),
    url(./font/PulmuoneLOHASBold.woff2) format('woff2'),
    url(./font/PulmuoneLOHASBold.woff) format('woff');
}

html {
    font-size:80px;
    text-align: center;
}

.table {
    margin-top:20px;
    width:100%;
}
.table th,
.table td {
    padding:20px;
    border:1px solid #ccc;
}
.table span {
    display:block;
}
.table div + div {
    margin-top:20px;
}

.table .pulmuoneSolo * {
    font-family:'Pulmuone';
}
.table .pulmuone * {
    font-family:'PulmuoneLOHAS';
}
.table .dotum * {
    font-family:'Malgun Gothic', sans-serif;
}
.table .fw2 {
    font-weight: 300
}
.table .fw4 {
    font-weight: 400;
}
.table .fw5 {
    font-weight: 500;
}
.table .fw7 {
    font-weight: 700;
}

@media all and (max-width:640px) {
    html {
        padding-top:20px;
        font-size:20px;
        line-height:26px;
        text-align: center;
    }

    .table {
        margin-top:20px;
        width:100%;
        table-layout:fixed;
        word-break:break-all;
        word-break: break-word;
    }
    .table th,
    .table td {
        padding:5px;
        border:1px solid #ccc;
        font-size:20px;
        line-height:26px;
    }
    .table span {
        display:block;

    }
    .table div + div {
        margin-top:20px;
    }
}


